<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Product management</title>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <script src="/js/bootstrap.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body class="container">
        <h1>Form Create Product</h1>
        <form action="/create" method="post" enctype="multipart/form-data">
            Name:
            <input type="text" name="name" class="form-control">
            Detail:
            <input type="text" name="detail" class="form-control">
            Image:
            <input type="file" name="image" class="form-control">
            <button class="btn btn-success">Submit</button>
        </form>
    </body>
</html>